{% extends 'base.html' %}

{% block app_content %}

<table class="table">
    <tr>
        <th colspan="2"><h1>{{company.name }}</h1></th>
    </tr>
    <tr>
        <td>Verify : </td>
        <td>{{ company.verified }}</td>
    </tr>
    <tr>
        <td>Description : </td>
        <td>{{ company.description }}</td>
    </tr>
    <tr>
        <td>Web page : </td>
        <td><a href="{{company.web_page}}" target="_blank"> {{ company.web_page }} </a></td>
    </tr>
    <tr>
        <td>Employees :</td>
        <td><a href="{{ url_for('company.employees',company_id=company.id) }}">List of employees({{ company.number_workers() }})</a></td>
    </tr>
    <tr>
        <td>Builds :</td>
        <td><a href="{{ url_for('company.company_builds', company_id=company.id) }}">List of builds({{ company.builds.count()}})</a></td>
    </tr>
</table>

{% include '_add_post.html' %}

{% for post in posts %}
    {% include '_post.html' %}
{% endfor %}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}