body
{
    background-image: url(../img/vintage-concrete.png)
}

.container
{
    margin: auto;
    background-color:#e1e1d0;
    font-style: italic;
    width: 1000px;
    text-align: center;
}
.logo
{
    background-color: black;
    margin: auto;
    width: 900px;
    height: 100px;
}
.menu
{
    margin: auto;
    background-color: blue;
    width: 900px;
    height: 100px;
}
.nav
{
    margin-right: -4px;
    background-color: red;
    width: 150px;
    height: 300px;
    display: inline-block;
}
.content{
    margin-right: -4px;
    display: inline-block;
    background-color: sandybrown;
    width: 600px;
    height: 300px;
    display: inline-block;
}
.sidebar{
    display: inline-block;
    background-color: seagreen;
    width: 150px;
    height: 300px;
}
.footer{
    margin-top: -4px;
    background-color: darkgoldenrod;
    width: 900px;
    height: 200px;
    margin-right: auto;
    margin-left: auto
}