
{% import 'bootstrap/wtf.html' as wtf %}
{% if current_user.is_authenticated  %}
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formAddPost" aria-expanded="false">
        Add post
    </button>
</p>
    <div class="collapse" id="formAddPost">
        <div class="row">
            <div class="col-xs-12">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

{% else %}
    To add <b>comment</b> or many others, you must be <a href="{{url_for('login')}}"><strong>log in.</strong></a>
{% endif %}