
<br>
{% if current_user.is_authenticated  %}
    <button type="button" id="formButton">Add post</button>
        <form id="form1" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.body.label }}<br>
                {{ form.body(cols=32, rows=4) }}<br>
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

    <script>
        $("#formButton").click(function(){
            $("#form1").toggle();
        });
    </script>
{% else %}

To add <b>comment</b> or many others, you must be <a href="{{url_for('login')}}"><strong>log in.</strong></a>

{% endif %}