<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - BudApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="page-logo"><img src="../static/img/logo.jpg" alt="Logo_strony" width="100" height="100"></div>
        <div class="page-name">Building Media</div>
        <div class="user-data">
            {% if user %}
            {{ user.username }}
            {% else %}
            Log or join us!
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="navigation">
        <div class="option"><a href="{{ url_for('index') }}">Strona Główna</a></a></div>
        <div class="option"><a href="{{ url_for('login') }}">Logowanie</a></div>
        <div style="clear:both"></div>
    </div>
    <div class='content'>
        {% with messeges = get_flashed_messages() %}
        {% if messeges %}
        <ul>
            {% for messege in messeges %}
            <li>{{ messege }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div class='banner'>
        REKLAMA
    </div>
    <div class='footer'>
        Wykonano przez P.Siepka
    </div>
</body>
</html>