<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - BudApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="page-logo"><i class='icon-hammer'></i></div>
        <div class="page-name">Building Media</div>
        <div class="user-data">
            {% if current_user.is_active %}
            <a href="{{ url_for('profile', nickname=current_user.nickname) }}"> <i class="icon-user"></i>{{ current_user.name }} {{ current_user.surname }}</a>  <br>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Log or join us!</a>
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="navigation">
        <div class="option"><a href="{{ url_for('index') }}">Index</a></div>
        <div class="option"><a href="{{ url_for('blog') }}">Blog</a></div>
        <div class="option"><a href="{{ url_for('builds') }}">Builds</a></div>
        <div class="option"><a href="{{ url_for('companies') }}">Companies</a></div>
        <div style="clear:both"></div>
    </div>
    <div class='content'>
        {% with messeges = get_flashed_messages() %}
        {% if messeges %}
        <ul>
            {% for messege in messeges %}
            <li>{{ messege }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div class='banner'>
        REKLAMA
    </div>
    <div class='footer'>
        Wykonano przez Patryka Siepke
        <a class='icons' href="https://github.com/psiepka" target="_blank"><i class='icon-github'></i></a>
        <a class='icons' href="https://www.linkedin.com/in/patryksiepka/" target="_blank"><i class='icon-linkedin-squared'></i></a>
        <a class='icons' href="https://www.facebook.com/patryk.siepka" target="_blank"><i class='icon-facebook-squared'></i></a>
    </div>
</body>
</html>