{% extends 'base.html' %}

{% block app_content %}

<h1>Companies </h1> All register in app companies.
<br>
{% if current_user.is_authenticated and current_user.worker_id == None %}
<a href="{{url_for('add_company')}}"><button type="button" class="btn btn-primary">Add company</button></a>
{% endif %}
<br>

<table class="table table-hover">
    {% for company in companies %}
    <tr>
        <td> <b><a href="{{ url_for('profile_company',company_id=company.id) }}">{{ company.name }} </a></b> </td>
        <td> <em>  {{ company.description }}</em></td>
    </tr>
    {% endfor %}
</table>

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}