{% extends 'base.html' %}

{% block content %}

<h1>Companies </h1> All register in app companies.
<br>
{% if current_user.is_authenticated  %}
<button><a href="{{url_for('add_company')}}">Add company</a></button>
{% endif %}
<br>

<table>
    {% for company in companies %}
    <tr>
        <td> <b><a href="{{ url_for('profile_company',company_id=company.id) }}">{{ company.name }} </a></b> </td>
        <td> <em>  {{ company.description }}</em></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}