<!DOCTYPE html>
<html lang='pl-PL'>
    <head>
        <meta charset="UTF-8">
        <meta name='description' content='dokumentacja, zlecenia, zamowienia'>
        <title>Zlecenia zamowienia</title>
        <link rel="stylesheet" href="static/css/main.css"
    </head>
    <body>
        <div class='container'>
            <div class='logo'></div>
            <div class='menu'>HEHE</div>
            <div class='nav'></div>
            <div class='content'></div>
            <div class='sidebar'></div>
            <div class='footer'></div>
        </div>
    </body>
</html>